src/.classpath
src/.project
src/.settings/org.eclipse.core.resources.prefs
src/.settings/org.eclipse.jdt.core.prefs
javaee-samples-read-only/
.class
src/tmp/
src/eclipse/
src/modules/
.git
/ProjetJAVA/ProjetJAVA/ProjetJAVA-web/target/
/ProjetJAVA/ProjetJAVA/ProjetJAVA-ejb/target/
ProjetJAVA/ProjetJAVA/ProjetJAVA-ear/target/
